.main{
    display: flex;
        justify-content: center;
        min-height: 95vh;
        margin-left: 101px;
        border-radius: 0px;
}  
.box{
    height: 350px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 4px black;
    margin: 20px;
}
.info1{
    border-radius: 4px;
    padding: 10px;
    margin-right: 262px;
    margin-top: 6px;
    padding-bottom: 13px;
    padding-top: 33px;
}
.info1 button{
    border-radius: 5px;
    padding: 10px;
}


.info2{
    
    border-radius: 4px;
    padding: 22px;
    margin-right: 112px;
    margin-top: -117px;
}
.info2 button{
    border-radius: 5px;
    padding: 10px;
}

.info3{
   
    border-radius: 4px;
    padding: 15px;
    margin-right:5px;
    padding-bottom: 28px;
    padding-top: 33px;
}
.info3 button{
    border-radius: 5px;
    padding: 10px;
}



.info4{
    
    border-radius: 4px;
    margin-top: 0px;
    padding: 15px;
    padding-bottom: 30px;
}
.info4 button{
    border-radius: 5px;
    padding: 10px;
}