body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blue;
    margin: 0;
}

.container {
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.input1 {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    background-color: #e0e0e0;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.item {
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: blue;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}